#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    --color-navbar: #5c5757de;
    --color-background: #EAE4DD;
    --color-info: #FEFBE7;
    --color-primary: #424141; 
    --color-tertiary: #60605e;
    --color-forth: #3b3936;
    --color-fifth: #353332;
}

.navbar {
    background-color: var(--color-navbar);
    margin: 0;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
    0 10px 0px var(--color-primary);
    border: solid rgba(255, 255, 255, 0.502);
}

.navbar h1 {
    font-weight: bold;
    margin-bottom: -20px;
    color: #EEE9DA;
}
.navbar h2 {
    margin-top: 1px;
    font-weight: 400;
}

.app{
    margin-top: 5px;
    width: 900px;
}

.panel-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 2px;
}

.general-content {
    width: 100%;
    max-width: 1200px;
}

/* Estilos del Modal para creación de notas */
.modal {
    display: flex;
    flex-direction: column;
    border:solid;
    position: fixed; 
    top: 50%; 
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%); 
    color: #FEFBE7;
    background-color: var(--color-tertiary);
    border-radius: 50px;
    z-index: 2000;
}

.info-modal {
    background-color: var(--color-primary);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 22px;
    gap: 10px;
}

.info-modal input, textarea {
    background-color: #fefbe7b5;
    outline: none;
    border: none;
    width: 100%;
    height: 30px; 
    border-radius: 2px;
}

textarea {
    resize: none; /* Deshabilita el redimensionamiento */
    height: 150px; 
    font-family:"Noto Sans", sans-serif ;
}

.modal button {
    gap: 10px; 
    margin-bottom: 2px;
    border-radius: 15px; 
    cursor: pointer; 
    color: rgba(255, 255, 255, 0.708);
    outline: none;
    transition: background-color 0.3s; 
}

/* Overlay para aplicar el desenfoque al fondo */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px); 
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Debe estar debajo del modal */
}


/*Estilos para el botones*/
.buttonAddnote{
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border: none;
    background-color: var(--color-navbar);
    cursor: pointer;
    transition: transform 0.01s ease-in-out;
}

.buttonAddnote:hover {
    background-color: var(--color-tertiary);
}

.buttonAddnote:active{
    transform: scale(0.9);
    background-color: none;
}

/*Estilos para los botones*/
.buttonedit{
    border: none;
    background-color: var(--color-primary);
}
.buttonedit:active{
    transform: scale(0.9);
    background-color: none;
}

.notecontent {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border-radius: 5px;
  height: 10rem;
  position: relative; /* Necesario para el posicionamiento absoluto de los botones */
  padding: 10px; 
  cursor: grab; /* Cambia el cursor para indicar que se puede arrastrar */
}

.notecontent h3{
    overflow: hidden; 
    text-overflow: ellipsis;
}

.note-actions {
  position: absolute; 
  top: 10px; /* Ajusta según sea necesario */
  margin-left: 10rem;
  display: none; /* Ocultar por defecto */
  
}

.notecontent:hover .note-actions {
  display: flex; /* Mostrar al pasar el mouse */
}

.buttonActions{
    background-color: #5e5d5c60;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    margin-top: -0.5rem;
}

.buttonConfirm{
    background-color: var(--color-forth);
    border: solid;
    color:#fefbe796;
    font-family:"Noto Sans", sans-serif;
    text-align: center;
    border: solid;
    border-color:#eae4ddb2;
    border-radius: 15px;
    border-bottom: 5px;
}

.buttonConfirm:active{
    transform: scale(0.9);
    background-color: none;
}

.buttonexpandir{
    background-color: #0000007b;
    border: solid;
    border-color: #fafafa82;
    border-radius: 50px;

}

.buttonexpandir:active{
    transform: scale(0.9);
    background-color: none;
}

/* Estilos del drag */
.note-container {
    display: grid; /* Cambiar a grid */
    margin-left: 15px;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 15px;
}

.note-item {
    background-color: transparent;
    padding: 15px;
    width: 15rem;
    border-radius: 15px;
    transition: background-color 0.2s;
    font-size: 12px;
    line-height: 1.4;
    max-height: 95rem; /* Limitar la altura del texto */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /*Limitar a 4 líneas */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.note-item p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 6; /* Limitar a 4 líneas */
    -webkit-box-orient: vertical;
    min-height: none;
}

.note-item:hover {
    cursor: move; /* Indicar que se puede mover */
}

.note-content h3 {
    margin: 0 0 10px;
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." al final si hay desbordamiento */
}

.note-content p {
    margin: 0 0 10px;
}

.note-content button {
    margin-right: 5px; /* Espaciado entre botones */
    padding: 5px 1px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

/*Estilos para el modal de confirmacion*/
.modal-overlay-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden; 
    text-overflow: ellipsis;
    z-index: 2000;
  }
  
.modal-content-confirm {
    background: var(--color-forth);
    padding: 20px;
    border-radius: 50px;
    color:#fefbe796;
    font-family:"Noto Sans", sans-serif;
    text-align: center;
    border: solid;
    border-color:#eae4ddb2;
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden; 
    text-overflow: ellipsis;
}

.modal-content-info-notes h2{
  display: -webkit-box; /* Necesario para aplicar line clamping */
  -webkit-box-orient: vertical; /* Aplica la orientación vertical */
  -webkit-line-clamp: 2; /* Establece el número de líneas */
  line-clamp: 2;
  overflow: hidden; /* Oculta el contenido desbordante */
  text-overflow: ellipsis; /* Muestra "..." al final del texto truncado */
}

.modal-actions-confirm {
    margin-top: 10px;
}

/*Estilos para el modal que muestra toda la informacion de note*/
.modal-info-notes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta el desbordamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }
  
.modal-content-info-notes {
    background-color: #b6b3b3;
    padding: 20px;
    border-radius: 10px;
    width: 25rem;
    text-align: center;
  }
  
.modal-content-info-notes h2 {
    margin-top: 0;
  }
  
.modal-content-info-notes p {
    overflow-y: auto; 
    text-align: justify;
    height: 15rem;/* Permite el desplazamiento vertical */
    max-height: 300px; /* Ajusta la altura máxima del contenido desplazable */
    padding-right: 10px; /* Añade espacio para evitar superposición del scroll */
    margin-bottom: 20px;
  }
  

  

