#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    --color-primary: #6096B4;  
    --color-navbar: #6097b48e;
    --color-secondary: #93BFCF;
    --color-tertiary: #BDCDD6;
    --color-background: #EEE9DA; 
    --color-info: #FEFBE7;
}

.navbar {
    background-color: var(--color-navbar);
    margin: 0;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 0px var(--color-primary);
}

.navbar h1 {
    font-weight: bold;
    margin-bottom: -20px;
    color: #EEE9DA;
}
.navbar h2 {
    margin-top: 1px;
    font-weight: 400;
}

.app{
    margin-top: 5px;
    width: 900px;
}

.panel-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.general-content {
    width: 100%;
    max-width: 1200px;
}


/* Estilos del Modal para creación de notas */
.modal {
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 50%; 
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%); 
    background-color: #748DA6;
    border-radius: 50px;
    z-index: 2000;
}

.info-modal {
    background-color: #9CB4CC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 22px;
    gap: 10px;
}

.info-modal input, textarea {
    background-color: #fefbe7b5;
    outline: none;
    border: none;
    width: 100%;
    height: 30px; 
    border-radius: 2px;
}

textarea {
    resize: none; /* Deshabilita el redimensionamiento */
    height: 150px; 
    font-family:"Noto Sans", sans-serif ;
}

.modal button {
    background-color: var(--color-tertiary);
    gap: 10px; 
    margin-bottom: 2px;
    border-radius: 15px; 
    cursor: pointer; 
    outline: none;
    transition: background-color 0.3s; 
}

/* Overlay para aplicar el desenfoque al fondo */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px); /* Aplica el desenfoque al fondo */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Debe estar debajo del modal */
}


/* Estilos del drag */
.droppable-area {
    border: solid;
    margin-top: 10px;
    min-height: 400px; /* Altura mínima */
    min-width: 400px;
}

.note-container {
    display: grid; /* Cambiar a grid */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 10px; /* Espaciado entre notas */
}

.note-item {
    background-color: var(--color-primary);
    padding: 15px;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.note-item:hover {
    background-color: #6096B4; /* Color al pasar el ratón */
    cursor: move; /* Indicar que se puede mover */
}

.note-content h3 {
    margin: 0 0 10px;
}

.note-content p {
    margin: 0 0 10px;
}

.note-content button {
    margin-right: 5px; /* Espaciado entre botones */
    padding: 5px 10px;
    background-color: #6096B4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.note-content button:hover {
    background-color: #4E7B93; 
}


