:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #B4B4B8;
 
}

a {
  font-weight: 500;
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}



